<script>
    import { user } from '../../stores.js';
    import {
        sendRequest,
        raiseSuccessToast,
        raiseFailureToast,
        formatPublishDate
    } from '../../utils.js';

    import Header from '../../components/Header.svelte';

    $: videoSearchInputState = "";

    // Last query that was successcully searched by
    $: currentSearchQuery = "";

    // A list of search results (yotuube videos
    // that matches currentSearchQuery)
    $: videos = [];

    async function videoSearchFormSubmitHandler(event) {
        const response = await sendRequest('/videos/search/', {
            method: 'POST',
            body: JSON.stringify({
                'query': videoSearchInputState
            })
        });

        const responseData = await response.json();

        if (response.ok) {
            videos = responseData.videos;
            currentSearchQuery = videoSearchInputState;
            console.log(videos);
        } else {
            if (responseData.query) {
                raiseFailureToast('Please enter a query to search');
            } else {
                raiseFailureToast('Please, enter a valid search query');
            }
        }
    }

    async function likeVideo(video) {
        const response = await sendRequest('/videos/liked/', {
            method: 'POST',
            body: JSON.stringify({
                'user': $user.id,
                'video_id': video['video_id'],
                'data': video['data']
            })
        });

        const responseData = await response.json();

        if (response.ok) {
            video.liked = true;
            videos = [...videos];
        } else {
            raiseFailureToast('Unenable to like this video');
            console.log(responseData);
        }
    }

    async function unlikeVideo(video) {
        const response = await sendRequest(
            `/videos/liked/${video['video_id']}/`,
            {
                method: 'DELETE',
            }
        );

        if (response.ok) {
            video.liked = false;
            videos = [...videos];
        } else {
            raiseFailureToast('Unenable to unlike this video');
        }
    }

    // Currenly playing video id
    $: playingVideoIdState = "";

    function openVideoPlayerModalWindow(video) {
        playingVideoIdState = video['video_id'];

        const modalWindowElement = document.getElementById('videoPlayerModalWindow');
        const modalWindowInstance = M.Modal.getInstance(modalWindowElement);
        modalWindowInstance.open();
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Activates Video Player modal window
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>

<style>
    h2.section__title {
        font-size: 2.75rem;
    }

    p.section__description {
        margin: 0 auto;
    }

    .search-field {
        position: relative;
        margin: 20px auto;
    }

    @media screen and (min-width: 992px) {
        .search-field {
            max-width: 60%;
        }

        p.section__description {
            max-width: 60%;
        }
    }

    @media screen and (min-width: 600px) {
        .search-field {
            max-width: 75%;
        }

        p.section__description {
            max-width: 75;
        }
    }

    @media screen and (max-width: 600px) {
        .search-field {
            width: 90%;
        }

        p.section__description {
            max-width: 90%;
        }
    }

    .search-input {
        padding: 15px 5px 15px 40px;
        font-size: 1.3rem;
        width: 100%;
        outline: none;
        border: none;
    }

    .search-input::placeholder {
        color: rgb(172, 168, 168);
    }

    .search-icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color .2s linear;
    }

    .search-input:focus + .search-icon {
        color: #000;
    }

    .video-list-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }

    .video {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .video__img-wrapper {
        position: relative;
        width: 100%;
    }

    .video__img {
        width: 100%;
        height: auto;
    }

    .video__actions {
        position: absolute;
        bottom: -7px;
        right: 5px;
    }

    .video__title {
        margin: 10px 0;
    }

    @media screen and (min-width: 992px) {
        .video {
            flex: 0 0 33%;
        }

        .video__title {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 992px) {
        .video {
            flex: 0 0 50%;
        }


        .video__title {
            font-size: 1.33rem;
        }
    }

    @media screen and (max-width: 600px) {
        .video {
            flex: 0 0 100%;
        }

        .video__title {
            font-size: 1.2rem;
        }
    }
</style>

<Header noShadow={true}/>
<main>
    <section class="section black white-text">
        <div class="container">
            <h2 class="center section__title">Welcome to Youtube Video Manager</h2>
            <p class="center section__description">
                Youtube Video Manager is a web-service for searching videos, hosted Youtube, and create your own favorites video list. Input whatever you want in the field below and press ENTER to search videos.
            </p>
            <form id="videoSearchForm"
                on:submit|preventDefault={videoSearchFormSubmitHandler}>
                <div class="search-field">
                    <input type="search" class="white search-input browser-default"
                        id="videSearchInput" placeholder="Type to search.."
                        bind:value={videoSearchInputState} required>
                    <label for="videoSearchInput" class="search-icon">
                        <i class="material-icons">search</i>
                    </label>
                </div>
            </form>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {#if currentSearchQuery}
                <h3 class="center search-result-title">Search results for "{currentSearchQuery}"</h3>
                <div class="divider"></div>
                <div class="video-list-wrapper">
                    {#each videos as video (video['video_id'])}
                        <div class="video">
                            <div class="video__header">
                                <div class="video__img-wrapper">
                                    <img src="{video.data.thumbnails.medium.url}" alt="" class="video__img">
                                    <div class="video__actions">
                                        <button class="btn-floating black waves-effect waves-light"
                                            on:click={() => openVideoPlayerModalWindow(video)}>
                                            <i class="material-icons">play_arrow</i>
                                        </button>
                                        {#if !user.isEmpty()}
                                            {#if video.liked}
                                                <button class="btn-floating red darken-2 waves-effect waves-light"
                                                    on:click={() => unlikeVideo(video)}>
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            {:else}
                                                <button class="btn-floating green darken-2 waves-effect waves-light"
                                                    on:click={() => likeVideo(video)}>
                                                    <i class="material-icons">favorite</i>
                                                </button>
                                            {/if}
                                        {/if}
                                    </div>
                                </div>
                                <h2 class="video__title">{video.data.title}</h2>
                            </div>
                            <div class="video__info">
                                <p><strong>Published:</strong> {formatPublishDate(video.data.publishedAt)}</p>
                            </div>
                        </div>
                    {/each}
                </div>
            {/if}
        </div>
    </section>

    <div class="modal" id="videoPlayerModalWindow">
        <div class="modal-content">
            <div class="video-container">
                <iframe title="Youtube Video" width="853" height="480"
                    src={`http://www.youtube.com/embed/${playingVideoIdState}?rel=0`} frameborder="0"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-flat red-text text-darken-2 white modal-close">
                close
            </button>
        </div>
    </div>
</main>
