<script context="module">
    import { Router, Route } from 'svelte-routing';

    import Home from './home/Index.svelte';
    import Login from './login/Index.svelte';
    import Register from './register/Index.svelte';
    import Logout from './logout/Index.svelte';
    import LikedList from './liked/List.svelte';

    export const routes = {
        home: {
            path: '/',
            component: Home
        },
        login: {
            path: '/login/',
            component: Login
        },
        register: {
            path: '/register/',
            component: Register
        },
        logout: {
            path: '/logout/',
            component: Logout
        },
        liked: {
            path: '/liked/',
            component: LikedList
        }
    };
</script>

<Router>
    {#each Object.keys(routes) as routeName}
        <Route path={routes[routeName].path} component={routes[routeName].component}/>
    {/each}
</Router>