<script>
    import Header from '../../components/Header.svelte';
    import { routes } from '../Routes.svelte';

    import { user } from '../../stores.js';
    import { sendRequest, raiseSuccessToast,
        raiseFailureToast } from '../../utils.js';

    if (!user.isEmpty()) {
        window.location.replace(routes.home.path);
    }

    $: usernameInputState = "";
    $: passwordInputState = "";
    $: confirmPasswordInputState = "";


    async function registerFormSubmitHandler() {
        const requestBody = {
            'username': usernameInputState,
            'password': passwordInputState,
            'confirm_password': confirmPasswordInputState
        };

        const response = await sendRequest('/users/', {
            method: 'POST',
            body: JSON.stringify(requestBody)
        });

        if (response.ok) {
            raiseSuccessToast('You have successfully created an account');

            setTimeout(() => window.location.replace(routes.login.path), 500);
        } else {
            const errors = await response.json();

            if (errors['username']) {
                raiseFailureToast('Unavaliable username. Please, choose another one');
            } else if (errors['confirm_password']) {
                raiseFailureToast('Password confirmation do not match');
            } else {
                raiseFailureToast('Unenable to sign up with provided credentials');
            }
        }
    }
</script>


<style>
    main {
        height: 80%;
    }

    .user-form-wrapper {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-form-window {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .user-form__title {
        font-size: 2.5rem;
        margin: 10px 0;
    }

    @media screen and (min-width: 992px) {
        .container_full-height {
            height: 100%;
        }

        .user-form-wrapper {
            width: 50%;
        }
    }

    @media screen and (max-width: 992px) {
        .user-form-wrapper {
            width: 100%;
        }
    }
</style>

<Header/>
<main>
    <div class="container container_full-height">
        <div class="user-form-wrapper">
            <div class="user-form-window z-depth-1">
                <h2 class="center user-form__title">Sign up</h2>
                <form on:submit|preventDefault={registerFormSubmitHandler}>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" class="validate" id="usernameInput" required
                                bind:value={usernameInputState}>
                            <label for="usernameInput">Username</label>
                        </div>
                        <div class="col s12 input-field">
                            <input type="password" class="validate" id="passwordInput" required
                                bind:value={passwordInputState}>
                            <label for="passwordInput">Password</label>
                        </div>
                        <div class="col s12 input-field">
                            <input type="password" class="validate" id="confirmPasswordInput" required
                                bind:value={confirmPasswordInputState}>
                            <label for="confirmPasswordInput">Confirm password</label>
                        </div>
                        <button type="sumbit" class="col s12 btn waves-effect waves-light green darken-2">
                            Submit
                        </button>
                    </div>
                </form>
                <p class="center">
                    Already have an account? <a href="{routes.login.path}" class="link blue-text text-darken-2">Log in</a>
                </p>
            </div>
        </div>
    </div>
</main>