<script>
    import { link } from 'svelte-routing';
    import { routes } from '../routes/Routes.svelte';
    import { user } from '../stores.js';

    // Header box-shadow state
    export let noShadow = false;

    document.addEventListener('DOMContentLoaded', function() {
        // Activates mobile nav element
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
</script>

<style>
    a.nav-link {
        text-transform: uppercase;
    }

    .brand-logo {
        font-weight: 500;
        font-size: 1.7rem;
    }

    .no-shadow {
        box-shadow: none !important;
    }
</style>

<header>
    <!-- Navbar -->
    <nav class="black" class:no-shadow={noShadow}>
        <div class="nav-wrapper container">
            <a href="{routes.home.path}" class="brand-logo">
                YVM
            </a>

            <!-- Mobile manu button -->
            <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <!-- Large screen nav buttons -->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href={routes.home.path} class="nav-link" use:link>
                        Home
                        <i class="material-icons right">home</i>
                    </a>
                </li>
                {#if user.isEmpty()}
                    <li>
                        <a href="{routes.login.path}" class="nav-link">
                            Login
                            <i class="material-icons right">person</i>
                        </a>
                    </li>
                    <li>
                        <a href="{routes.register.path}" class="nav-link">
                            Sign up
                            <i class="material-icons right">person_add</i>
                        </a>
                    </li>
                {:else}
                    <li>
                        <a href="{routes.liked.path}" class="nav-link">
                            Liked Videos
                            <i class="material-icons right">favorite</i>
                        </a>
                    </li>
                    <li>
                        <a href="{routes.logout.path}" class="nav-link">
                            Logout
                            <i class="material-icons right">meeting_room</i>
                        </a>
                    </li>
                {/if}
            </ul>

            <!-- Mobile & Tablet nav buttons -->
            <ul class="sidenav" id="mobile-demo">
                <li>
                    <a href={routes.home.path} class="nav-link">
                        Home
                        <i class="material-icons left">home</i>
                    </a>
                </li>
                {#if user.isEmpty()}
                    <li>
                        <a href="{routes.login.path}" class="nav-link">
                            Login
                            <i class="material-icons left">person</i>
                        </a>
                    </li>
                    <li>
                        <a href="{routes.register.path}" class="nav-link">
                            Sign up
                            <i class="material-icons left">person_add</i>
                        </a>
                    </li>
                {:else}
                    <li>
                        <a href="{routes.liked.path}" class="nav-link">
                            Liked Videos
                            <i class="material-icons left">favorite</i>
                        </a>
                    </li>
                    <li>
                        <a href="{routes.logout.path}" class="nav-link">
                            Logout
                            <i class="material-icons left">meeting_room</i>
                        </a>
                    </li>
                {/if}
            </ul>
        </div>
    </nav>
</header>