<script>
    import { onMount } from 'svelte';
    import { user } from '../../stores.js';
    import { routes } from '../Routes.svelte';
    import { sendRequest, raiseSuccessToast,
        raiseFailureToast, formatPublishDate } from '../../utils.js';

    import Header from '../../components/Header.svelte';

    if (user.isEmpty()) {
        window.location.replace(routes.login.path +
            '?message=Only authenticated users can like videos' +
            `&next=${routes.liked.path}`);
    }

    // A list of user liked videos
    $: likedVideos = [];

    // Currently playing youtube video id
    $: playingVideoIdState = "";

    // A function to fetch user liked videos list
    // from service API
    async function getLikedVideos() {
        const response = await sendRequest(`/users/${$user.id}/videos/liked/`);

        if (response.ok) {
            return await response.json();
        }
    }

    async function unlikeVideoButtonClickHandler(videoData) {
        const response = await sendRequest(
            `/videos/liked/${videoData['video_id']}/`,
            { method: 'DELETE' }
        );

        if (response.ok) {
            likedVideos = likedVideos.filter(video => video.video_id != videoData.video_id);
            raiseSuccessToast('You successfully unliked this video');
        } else {
            raiseFailureToast('Unenable to unlike this video');
        }
    }

    function openVideoPlayerModalWindow(video) {
        playingVideoIdState = video.video_id;

        const modalWindowElement = document.getElementById('videoPlayerModalWindow');
        const modalWindowInstance = M.Modal.getInstance(modalWindowElement);
        modalWindowInstance.open();
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Activates Materialize CSS modal component
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });

    onMount(async () => {
        likedVideos = await getLikedVideos();
    });
</script>

<style>
    .title {
        margin: 0 0 10px 0;
    }

    .section__divider {
        margin-bottom: 20px;
    }

    .video {
        margin: 40px 0;
        display: flex;
    }

    .video__img-wrapper {
        position: relative;
        min-width: 320px;
    }

    .video__img {
        display: block;
    }

    .video__actions {
        position: absolute;
        bottom: -17px;
        right: 10px;
    }

    .video__title {
        margin: 0 0 10px 0;
    }

    @media screen and (min-width: 600px) {
        .video {
            justify-content: left;
            align-items: flex-start;
        }

        .video__title {
            font-size: 1.6rem;
        }

        .video__info {
            margin-left: 20px;
        }
    }

    @media screen and (max-width: 600px) {
        .video {
            flex-direction: column;
            justify-content: center;
        }

        .video__img-wrapper {
            margin: 0 auto 30px;
        }

        .video__info {
            width: 100%;
        }

        .video__title {
            font-size: 1.25rem;
        }
    }
</style>

<Header/>
<main>
    <section class="section container">
        <h1 class="title">Liked videos</h1>
        <div class="divider section__divider"></div>
        <p>The list of your favorites videos is presented below. To add new videos to this list - search for them on the <a href="{routes.home.path}" class="blue-text text-darken-2 link">service main page</a> and press the "heart" button.</p>
        <p>To remove video from this list press the "trash" red button.</p>

        <!-- Youtube video list -->
        {#each likedVideos as video (video.id)}
            <div class="video">
                <div class="video__img-wrapper">
                    <img src="{video.data.thumbnails.medium.url}" alt="" class="responsive-img video__img">
                    <div class="video__actions">
                        <button class="btn-floating black waves-effect waves-light"
                            on:click|preventDefault={() => openVideoPlayerModalWindow(video)}>
                            <i class="material-icons">play_arrow</i>
                        </button>
                        <button class="btn-floating red darken-2 white-text waves-effect waves-light"
                            on:click|preventDefault={() => unlikeVideoButtonClickHandler(video)}>
                            <i class="material-icons">delete</i>
                        </button>
                    </div>
                </div>
                <div class="video__info">
                    <h2 class="video__title">{video.data.title}</h2>
                    <p><strong>Published:</strong> {formatPublishDate(video.data.publishedAt)}</p>
                </div>
            </div>
        {/each}
    </section>

    <!-- Video Player model (dialog) window -->
    <div class="modal" id="videoPlayerModalWindow">
        <div class="modal-content">
            <div class="video-container">
                <iframe title="Youtube Video" width="853" height="480"
                    src={`http://www.youtube.com/embed/${playingVideoIdState}?rel=0`} frameborder="0"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-flat red-text text-darken-2 white modal-close">
                close
            </button>
        </div>
    </div>
</main>
