<script>
    import Header from '../../components/Header.svelte';

    import { routes } from '../Routes.svelte';
    import { user } from '../../stores.js';
    import { onLoginRedirect } from '../../settings.js';
    import { sendRequest, raiseSuccessToast,
        raiseFailureToast, getUserData } from '../../utils.js';

    // Getting query params from URL
    const URLParams = new URLSearchParams(window.location.search);
    const message = URLParams.get('message');
    const nextRedirect = URLParams.get('next') ? URLParams.get('next') : onLoginRedirect;

    if (!user.isEmpty()) {
        window.location.replace(nextRedirect);
    }

    if (message) {
        raiseFailureToast(message);
    }

    $: usernameInputState = "";
    $: passwordInputState = "";

    async function loginFormSubmitHandler() {
        const requestBody = {
            'username': usernameInputState,
            'password': passwordInputState
        };

        const response = await sendRequest('/users/login/', {
            method: 'POST',
            body: JSON.stringify(requestBody)
        });

        if (response.ok) {
            const responseData = await response.json();

            $user = await getUserData(responseData.token);
            $user.token = responseData.token;

            raiseSuccessToast('You have successfully logged in');

            setTimeout(() => window.location.replace(nextRedirect), 500);
        } else {
            raiseFailureToast('Unenable to log in with provided credentials');
        }
    }
</script>

<style>
    main {
        height: 80%;
    }

    .user-form-wrapper {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-form-window {
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }

    .user-form__title {
        font-size: 2.5rem;
        margin: 10px 0;
    }

    @media screen and (min-width: 992px) {
        .container_full-height {
            height: 100%;
        }

        .user-form-wrapper {
            width: 50%;
        }
    }

    @media screen and (max-width: 992px) {
        .user-form-wrapper {
            width: 100%;
        }
    }
</style>

<Header/>
<main>
    <div class="container container_full-height">
        <div class="user-form-wrapper">
            <div class="user-form-window z-depth-1">
                <h2 class="center user-form__title">Login</h2>
                <form on:submit|preventDefault={loginFormSubmitHandler}>
                    <div class="row">
                        <div class="col s12 input-field">
                            <input type="text" class="validate" id="usernameInput" required
                                bind:value={usernameInputState}>
                            <label for="usernameInput">Username</label>
                        </div>
                        <div class="col s12 input-field">
                            <input type="password" class="validate" id="passwordInput" required
                                bind:value={passwordInputState}>
                            <label for="passwordInput">Password</label>
                        </div>
                        <button type="sumbit" class="col s12 btn waves-effect waves-light green darken-2">
                            Submit
                        </button>
                    </div>
                </form>
                <p class="center">
                    Do not have account yeat? <a href="{routes.register.path}" class="blue-text text-darken-1 link">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</main>